/* global below */

a {color: inherit;}
/* I made a inherit because I didn't want links to be a different color from nonlinks */
h3 {color: green

}
h4 {color: green;
font-family: sans-serif;}

h2 {font-family:serif;
  font-size: 22px;
}


/* big chunks below */
.segment{
  /*bigstory and lilright are both subclasses of segment
  you should probably be able to inherit from segment by default? */

}
/* bigstory is the part where the big stories go */
.bigstory{
  float:left;
}
/* lirights are the sections of segment where smaller stories go; they're to the right of bigstories thus the name */
.lilright{
  float:right;
}



.evensies {
column-count: 4;
}
/* logoia is the section that has the logo*/
.logoia {

}
/* liminaldiv is between */
.liminaldiv {
  font-family: sans-serif;
}


.linkytop {
  color: white;
  background-color: black;
  font-size: 15px
  font-family: sans-serif;

}

.linkytop p {
  float:right;
}
/* homey womey is class for the word HOME in linkytop */
.homeywomey{
  color: white;
  background-color: green;
}


.lilpix {
  font-family: serif;
  float: left;

}
.lilpix p {
  float:right;
  display: block;
/* need to set a size for this element} */
